@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap");
@font-face {
  font-family: AvanGarde_ff;
  src: url(../font/AvantGarde-Normal.otf);
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

input, textarea, button, select, a {
  -webkit-tap-highlight-color: transparent;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  background: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  overflow-y: hidden;
  background: #070707;
  color: #ffffff;
  line-height: 1.4;
  caret-color: #070707;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
}
.container > * {
  min-width: 0;
}

main {
  flex: 1 1 auto;
  max-height: calc(100svh - 150px);
}

.header {
  padding: 9px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 100;
}
.header__body {
  display: flex;
  justify-content: space-between;
  background: #424242;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  height: 56px;
}
.header__burger {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu__body {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu__list {
  display: flex;
  height: 100%;
}
.menu__span {
  transition: 0.2s;
}
.menu__item.active .menu__span {
  visibility: hidden;
  opacity: 0;
}
.menu__item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  cursor: pointer;
  width: 150px;
  max-width: 150px;
  transition: 0.2s;
  overflow: hidden;
  color: #ffffff;
  -webkit-tap-highlight-color: transparent;
}
.menu__item:hover, .menu__item:focus {
  background: rgba(255, 255, 255, 0.2);
}
.menu__item::after {
  content: "";
  height: 0px;
  width: 0px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
.menu__link {
  color: #ffffff;
  padding: 20px 29px;
  opacity: 1;
  transition: 0.2s;
}
.menu__item.active {
  max-width: 56px;
  max-height: 56px;
  background: #D9D9D9;
  position: relative;
}
.menu__item.active::after {
  position: absolute;
  height: 22px;
  width: 22px;
  background: #000;
  border-radius: 30px;
  opacity: 1;
  visibility: visible;
}
.menu__item.active .menu__link {
  visibility: hidden;
  opacity: 0;
}
.menu__right {
  display: flex;
  width: auto;
}
.menu__logos {
  display: flex;
}
.menu__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  height: 100%;
  aspect-ratio: 1/1;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-tap-highlight-color: transparent;
}
.menu__logo:hover, .menu__logo:focus {
  background: rgba(255, 255, 255, 0.2);
}

.logo {
  display: none;
}

@media (max-width: 850px) {
  .logo {
    display: block;
    width: auto;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    display: flex;
  }
  .logo__logo-div {
    aspect-ratio: 1/1;
    height: 100%;
    background: #D9D9D9;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
  }
  .logo__logo-div::after {
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    background: #000;
    border-radius: 30px;
    opacity: 1;
    visibility: visible;
  }
  .logo__name {
    display: flex;
    align-self: center;
    justify-self: center;
    padding: 10px 29px 10px 20px;
  }
  .header__body {
    display: flex;
    justify-content: space-between;
  }
  .header__burger {
    display: block;
    height: 100%;
    aspect-ratio: 1/1;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    overflow: hidden;
    z-index: 2;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__burger svg {
    height: 22px;
    width: 22px;
    pointer-events: none;
  }
  .menu {
    position: absolute;
    top: 74px;
    right: 9px;
    width: auto;
    opacity: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    visibility: hidden;
    transition: 0.2s;
    background: #424242;
  }
  .menu._active {
    opacity: 1;
    visibility: visible;
  }
  .menu__list {
    display: flex;
    flex-direction: column;
  }
  .menu__item.active .menu__span {
    visibility: visible;
    opacity: 1;
  }
  .menu__item {
    max-height: 56px;
  }
  .menu__item.rotate {
    max-height: 100%;
    max-width: 56px;
  }
  .menu__item.rotate .menu__span {
    writing-mode: vertical-rl;
  }
  .menu__item.rotate.active {
    max-width: 56px;
  }
  .menu__item::after {
    display: none;
  }
  .menu__link {
    color: #ffffff;
    padding: 20px 29px;
    opacity: 1;
    transition: 0.2s;
  }
  .menu__item.active {
    max-width: 150px;
    background: rgba(255, 255, 255, 0.2);
  }
  .menu__item.active .menu__link {
    visibility: visible;
    opacity: 1;
  }
  .menu__right {
    flex-direction: column;
  }
  .menu__logos {
    flex-direction: column;
  }
  .menu__logo {
    max-width: 56px;
    max-height: 56px;
    aspect-ratio: none;
  }
}
.footer {
  padding: 9px;
}
.footer__body {
  border: 1px solid rgba(255, 255, 255, 0.4);
  height: 55px;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__text {
  text-align: center;
  font-weight: 400;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.43);
  padding: 0 29px;
  font-family: AvanGarde_ff;
  font-size: calc(12px + 0.15vw);
}
@media only screen and (max-width: 767.98px) {
  .footer__text {
    font-size: calc(10px + 0.1vw);
    padding: 0 20px;
  }
}
.footer__link {
  color: rgba(255, 255, 255, 0.8);
}

.loader {
  z-index: 200;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #070707;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: conic-gradient(#070707, #ffffff);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 9px), #000 0);
  animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
  to {
    transform: rotate(1turn);
  }
}
::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  color: #ffffff;
  background: #424242;
}

::selection {
  color: #ffffff;
  background: #424242;
}

.productive {
  padding: 0 9px;
}
.productive__body {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 9px;
  min-height: calc(100svh - 150px);
}
.productive__left, .productive__right {
  border-radius: 27.5px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.p-left {
  background: #424242;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.p-left__top {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.p-left__text {
  font-size: calc(10px + 0.2vw);
  color: rgba(255, 255, 255, 0.6509803922);
}
.p-left__title {
  font-weight: 700;
  font-size: calc(15px + 0.25vw);
  color: rgba(255, 255, 255, 0.8705882353);
}
.p-left__text-blue {
  color: #9BC5C3;
}
.p-left__bottom {
  flex: 1;
  display: flex;
  font-family: "Lato", sans-serif;
  border-radius: 27.5px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.p-left__sub-title {
  text-align: center;
  font-size: calc(10px + 0.2vw);
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}
.p-left__card-1 {
  background: linear-gradient(90deg, #616161 0%, #9bc5c3 100%);
}
.p-left__card-2 {
  background: #646a78;
  text-align: right;
}
.p-left__card {
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: calc(10px + 0.2vw);
}
.p-left__img {
  align-self: center;
  width: 80%;
  aspect-ratio: 1/1;
  position: relative;
}
.p-left__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.p-right {
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.p-right::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: url("../img/robot.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  transition: 0.3s;
}
@media only screen and (max-width: 479.98px) {
  .p-right::after {
    background-position: center;
  }
}
.p-right:hover::after {
  width: 105%;
  height: 105%;
}
.p-right__text {
  font-family: AvanGarde_ff;
  font-size: calc(10px + 0.2vw);
}
.p-right__btn {
  padding: 8px 42px;
  background: rgba(217, 217, 217, 0.4);
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-bottom: 20px;
  transition: 0.2s;
  font-weight: 600;
  color: #ffffff;
}
.p-right__btn:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(4px);
}
.p-right__icon-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  cursor: pointer;
}
.p-right__icon-play:hover {
  opacity: 0.6;
}

@media only screen and (max-width: 767.98px) {
  .productive__body {
    display: flex;
    flex-direction: column;
  }
  .p-left__title {
    font-weight: 970;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.2509803922);
  }
  .p-left__bottom {
    display: none;
  }
  .p-right {
    background-position: top center;
    flex: 1;
  }
  .p-right__btn {
    padding: 5px 20px;
    margin-bottom: 10px;
    transition: 0.2s;
    color: #ffffff;
    font-size: 10px;
  }
  .p-right__btn:hover {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(4px);
  }
  .p-right__icon-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .p-right__icon-play svg {
    width: 50px;
    height: 50px;
  }
}
.login {
  width: 100%;
  height: calc(100svh - 150px);
  padding: 0 9px;
  z-index: 10;
}
.login__body {
  display: grid;
  grid-template-columns: 1.2fr 0.5fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: calc(100svh - 150px);
  gap: 9px;
}
.login__left, .login__right {
  border-radius: 27.5px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.login__left {
  background: #424242;
}
.login__right {
  position: relative;
}
.login__right::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: url("../img/hand.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 767.98px) and (max-width: 991.98px) {
  .login__body {
    grid-template-columns: 0.75fr 0.5fr;
    grid-template-rows: 1fr;
  }
}
@media only screen and (max-width: 767.98px) {
  .login__body {
    grid-template-columns: 1fr;
  }
  .login__right {
    display: none;
  }
}

.form {
  width: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: "Lato", sans-serif;
  padding: 20px;
}
@media only screen and (max-width: 767.98px) {
  .form {
    width: 80%;
  }
}
.form__title {
  font-weight: 700;
  font-size: calc(20px + 0.25vw);
  color: #ffffff;
  text-align: center;
}
.form__sub-text {
  font-weight: 600;
  font-size: calc(10px + 0.2vw);
  text-align: center;
}
.form__span {
  color: #AFBDDD;
}
.form__body {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form__row {
  display: flex;
  flex-direction: column;
}
.form__label {
  font-weight: 800;
  font-size: calc(10px + 0vw);
  color: #AFBDDD;
}
.form__input {
  background: rgba(217, 217, 217, 0.21);
  border: 2px solid #ffffff;
  padding: 10px 20px;
  border-radius: 12px;
  color: #ffffff;
  font-size: calc(10px + 0.2vw);
}
.form__buttons {
  display: flex;
  gap: 20px;
}
.form__btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px;
  width: 100%;
  font-size: calc(10px + 0.2vw);
  white-space: nowrap;
  color: #ffffff;
}
.form__btn-accesnt {
  background: #AFBDDD;
}
.form__btn-border {
  background: rgba(217, 217, 217, 0.21);
  border: 2px solid #ffffff;
  color: #AFBDDD;
}
.form__bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form__icons {
  display: flex;
  justify-content: space-evenly;
}
@media only screen and (max-width: 767.98px) {
  .form__icons {
    justify-content: space-between;
  }
}
.form__icon-wrapper {
  width: 50px;
  height: 50px;
  background: rgba(217, 217, 217, 0.1607843137);
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}
.form__icon {
  width: 30px;
  height: 30px;
  color: rgba(255, 255, 255, 0.4784313725);
  transition: 0.2s;
  cursor: pointer;
}
.form__icon-wrapper:hover .form__icon {
  color: #ffffff;
}
.form__sub-title {
  text-align: center;
  font-size: calc(15px + 0.25vw);
}

.info {
  width: 100%;
  height: calc(100svh - 150px);
  padding: 0 9px;
  z-index: 10;
}
.info__body {
  display: grid;
  grid-template-columns: 0.5fr 1.2fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: calc(100svh - 150px);
  gap: 9px;
}
.info__left, .info__right {
  border-radius: 27.5px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.info__left {
  position: relative;
}
.info__left::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: url("../img/robot-info.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.info__right {
  background: #424242;
  padding: 20px;
  display: flex;
  flex-flow: column;
  height: 100%;
}
@media screen and (max-width: 767.98px) and (max-width: 991.98px) {
  .info__body {
    grid-template-columns: 0.75fr 0.5fr;
    grid-template-rows: 1fr;
  }
}
@media only screen and (max-width: 991.98px) {
  .info__body {
    grid-template-columns: 1fr;
  }
  .info__left {
    display: none;
  }
}
.info__title {
  font-weight: 700;
  font-size: calc(20px + 0.25vw);
  font-family: AvanGarde_ff;
  text-align: center;
  padding-bottom: 50px;
  text-transform: uppercase;
}
@media only screen and (max-width: 767.98px) {
  .info__title {
    padding-bottom: 30px;
  }
}
.info__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  gap: 20px;
  margin: 0 auto;
  flex: 1 1 auto;
  padding: 40px;
}
.info__row {
  display: flex;
  align-items: stretch;
}
.info__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  z-index: 2;
}
@media only screen and (max-width: 500px) {
  .info__text-wrapper {
    width: 100%;
  }
}
.info__text {
  font-size: calc(10px + 0.3vw);
  line-height: 151.9%;
  color: #ffffff;
}
@media only screen and (max-width: 767.98px) {
  .info__text {
    line-height: 1.2;
  }
}
.info__img {
  position: relative;
  width: 50%;
}
@media only screen and (max-width: 560px) {
  .info__img {
    opacity: 0.6;
  }
}
@media only screen and (max-width: 380px) {
  .info__img {
    display: none;
  }
}
.info__img img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(1.4);
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media only screen and (max-width: 991.98px) {
  .info__img img {
    transform: translateX(-50%) scale(1);
  }
}

.posibilities__left {
  position: relative;
  border-radius: 27.5px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.posibilities__left::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: url("../img/robot-broke.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 991.98px) {
  .posibilities__left {
    display: none;
  }
}

.motivation {
  padding: 0 9px;
}
.motivation__left {
  position: relative;
  border-radius: 27.5px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.motivation__left::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: url(../img/robot-motovation.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 991.98px) {
  .motivation__left {
    display: none;
  }
}

/* Define the section styles */
.section {
  opacity: 0;
  max-height: calc(100svh - 150px);
  overflow: hidden;
  transition: 0.5s;
  visibility: hidden;
  position: absolute;
}

/* Show the active section */
.active-section {
  visibility: visible;
  opacity: 1;
}