
.loader{
   z-index: 200;
   position: absolute;
   width: 100%;
   height: 100vh; 
   background: $black;
   transition: .5s;
   display: flex;
   justify-content: center;
   align-items: center;
}
.spinner {
   width: 56px;
   height: 56px;
   border-radius: 50%;
   background: conic-gradient( $black, $white);
   -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
   animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
   to {
      transform: rotate(1turn);
   }
}