.productive {
   padding: 0 9px;
	&__body {
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr 1fr;
   gap: 9px;
   min-height: calc(100svh - 150px);
	}
	&__left,
   &__right {
      border-radius: 27.5px;
      overflow: hidden;
      border: 1px solid rgba($color: $white, $alpha: 0.4);
	}
	&__right {
      background: #604a4a;
	}
}


.p-left {
   background: linear-gradient(180deg, #202020 0%, rgba(130, 130, 130, 0.14) 100%);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
	&__top {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
	}
	&__text {
      font-size: calc(10px + 4  * (100vw / $maxWidthContainer));
      color: #ffffffa6;
	}
	&__title {
      font-weight: 700;
      font-size: calc(15px + 5  * (100vw / $maxWidthContainer));
      color: #ffffffde;
	}
	&__text-blue {
      color: #9BC5C3;
	}
	&__bottom {
      flex: 1;
      display: flex;
	}
   &__sub-title{
      text-align: center;
      font-size: calc(10px + 4  * (100vw / $maxWidthContainer));
      margin: 0 auto;
   }
	&__card-1 {
      background: linear-gradient(90deg, #616161 0%, #9BC5C3 100%);
	}
   &__card-2 {
      background: #646A78;
      text-align: right;
	}
   &__card{
      padding: 20px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: calc(10px + 4  * (100vw / $maxWidthContainer));
   }
	&__img {
      align-self: center;
      width: 60%;
      aspect-ratio: 1 / 1;
      position: relative;
	}
   &__img img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
   }
}
.p-right {
   background: url('../img/robot.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding: 20px;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   &__text {
      font-size: calc(10px + 4  * (100vw / $maxWidthContainer));
   }
   &__btn {
      padding: 8px 42px;
      background: rgba(217, 217, 217, 0.4);
      border: 1px solid #FFFFFF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius:30px;
      margin-bottom: 20px;
      transition: .2s;
      font-weight: 600;
      color: $white;
   }
   &__btn:hover{
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      transform: translateY(4px);
   }
   &__icon-play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50% , -50%);
      transition: .2s;
      cursor: pointer;
   }
   &__icon-play:hover{
      opacity: .6;
   }
}




// adaptation
@media only screen and (max-width:$mobile) {
   .productive {
      &__body {
         display: flex;
         flex-direction: column;
      }
   }
   .p-left {
      &__title {
         font-weight: 970;
         text-shadow: 0px 0px 0px #ffffff40;
      }
      &__bottom {
         display: none;
      }
   }
   .p-right {
      background-position:top center;
      flex: 1;
      &__btn {
         padding: 5px 20px;
         margin-bottom: 10px;
         transition: .2s;
         color: $white;
         font-size: 10px;
      }
      &__btn:hover{
         box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
         transform: translateY(4px);
      }
      &__icon-play {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50% , -50%);
      }
      &__icon-play svg{
         width: 50px;
         height: 50px;
      }
   }
}